PrivateFrameworks/DialogEngine.framework/Versions/A/Resources/CatVisual.dtd


<!-- ======================================================================== -->
<!-- DO NOT EDIT                                                              -->
<!-- This file is autogenerated by the DialogEngine proto2schema tool.        -->
<!-- ======================================================================== -->

<!ELEMENT cat (meta|parameters|conditions|phrases|response)*>
<!ATTLIST cat
        xmlns CDATA #REQUIRED
        id CDATA #IMPLIED>

<!-- *** elements for the parameters section *** -->

<!-- Any metadata for this CAT file, e.g., description, category, tags, etc. -->
<!ELEMENT meta EMPTY>
<!ATTLIST meta
        name CDATA #REQUIRED
        value CDATA #REQUIRED>

<!-- The template parameters that are accepted by this CAT file -->
<!ELEMENT parameters (parameter)*>
<!ELEMENT parameter EMPTY>
<!ATTLIST parameter
        name CDATA #REQUIRED
        type CDATA #REQUIRED
        description CDATA #IMPLIED
        semanticConcept CDATA #IMPLIED
        sampleValue CDATA #IMPLIED
        deprecated CDATA #IMPLIED
        profanityFilter CDATA #IMPLIED
        optional CDATA #IMPLIED
        valueFromCat CDATA #IMPLIED>

<!-- *** elements that are normally contained in dialog locale and visual CAT files *** -->

<!-- conditions are named boolean expressions -->
<!ENTITY % condition_elements "expression|sub-condition|and|or|not">
<!ELEMENT conditions (condition)*>
<!ELEMENT condition (%condition_elements;)?>
<!ATTLIST condition
        name CDATA #REQUIRED
        note CDATA #IMPLIED>

<!-- a single expression within a condition -->
<!ELEMENT expression EMPTY>
<!ATTLIST expression
        name CDATA #REQUIRED
        op CDATA #IMPLIED
        value CDATA #IMPLIED
        note CDATA #IMPLIED>

<!-- a nested sub condition within a condition -->
<!ELEMENT sub-condition EMPTY>
<!ATTLIST sub-condition
        name CDATA #REQUIRED
        note CDATA #IMPLIED>

<!-- the set of boolean operators we support -->
<!ELEMENT and (%condition_elements;)*>
<!ATTLIST and
        note CDATA #IMPLIED>
<!ELEMENT or (%condition_elements;)*>
<!ATTLIST or
        note CDATA #IMPLIED>
<!ELEMENT not (%condition_elements;)*>
<!ATTLIST not
        note CDATA #IMPLIED>

<!-- phrases are embeddable and reusable pieces of text -->
<!ELEMENT phrases (random|first|switch)*>

<!-- grouping elements (random, first, switch, all) -->
<!ENTITY % grouping_elements "random|first|switch|all|text">
<!ELEMENT random (%grouping_elements;)*>
<!ATTLIST random
        id CDATA #IMPLIED
        condition CDATA #IMPLIED
        phrase CDATA #IMPLIED
        case CDATA #IMPLIED
        weight CDATA #IMPLIED
        note CDATA #IMPLIED>

<!ELEMENT first (%grouping_elements;)*>
<!ATTLIST first
        id CDATA #IMPLIED
        condition CDATA #IMPLIED
        phrase CDATA #IMPLIED
        case CDATA #IMPLIED
        weight CDATA #IMPLIED
        note CDATA #IMPLIED>

<!ELEMENT switch (%grouping_elements;|identifier|initial-value|invocation-payload|off-action|on-action)*>
<!ATTLIST switch
        value CDATA #IMPLIED
        id CDATA #IMPLIED
        condition CDATA #IMPLIED
        phrase CDATA #IMPLIED
        case CDATA #IMPLIED
        weight CDATA #IMPLIED
        note CDATA #IMPLIED>

<!ELEMENT all (%grouping_elements;)*>
<!ATTLIST all
        id CDATA #IMPLIED
        condition CDATA #IMPLIED
        phrase CDATA #IMPLIED
        case CDATA #IMPLIED
        weight CDATA #IMPLIED
        note CDATA #IMPLIED>

<!-- define the common types of child elements for leaf elements that hold values -->
<!ENTITY % dialog_elements "var|phrase|opt|transform">

<!-- the var element supports variable substitution -->
<!ELEMENT var EMPTY>
<!ATTLIST var
        name CDATA #REQUIRED
        inflect CDATA #IMPLIED
        transform CDATA #IMPLIED
        number CDATA #IMPLIED
        list CDATA #IMPLIED
        separator CDATA #IMPLIED
        beforefirst CDATA #IMPLIED
        afterfirst CDATA #IMPLIED
        beforelast CDATA #IMPLIED
        afterlast CDATA #IMPLIED
        itemprefix CDATA #IMPLIED
        itemsuffix CDATA #IMPLIED
        itemformat CDATA #IMPLIED
        ground CDATA #IMPLIED
        groundvar CDATA #IMPLIED
        semanticConcept CDATA #IMPLIED
        id CDATA #IMPLIED>

<!-- the phrase element lets you embed other segments of text -->
<!ELEMENT phrase EMPTY>
<!ATTLIST phrase
        name CDATA #REQUIRED
        id CDATA #IMPLIED>

<!-- opt defines optional output if variable substitutions were empty -->
<!ELEMENT opt (#PCDATA|%dialog_elements;)*>

<!-- transform the child text in various ways, e.g., uppercase -->
<!ELEMENT transform (#PCDATA|%dialog_elements;)*>
<!ATTLIST transform
        mode CDATA #REQUIRED>

<!-- the text element is used within phrase grouping elements -->
<!ELEMENT text (#PCDATA|%dialog_elements;|focus-action|lines|redacted|selected-action|text-elements)*>
<!ATTLIST text
        id CDATA #IMPLIED
        condition CDATA #IMPLIED
        case CDATA #IMPLIED
        weight CDATA #IMPLIED
        note CDATA #IMPLIED
        list CDATA #IMPLIED
        iterator CDATA #IMPLIED>

<!-- *** elements specific to Visual CAT *** -->

<!-- response is a child of the top level cat element -->
<!ELEMENT response (#PCDATA|backgrounds|groups|hide-redacted-elements|ornaments|sections)*>

<!-- elements representing fields of SnippetUI messages -->

<!ELEMENT ace-command (#PCDATA|%dialog_elements;)*>
<!ATTLIST ace-command
          condition CDATA #IMPLIED>

<!ELEMENT action (#PCDATA|actions)*>
<!ATTLIST action
          condition CDATA #IMPLIED>

<!ELEMENT actions (#PCDATA|command|idioms|text-elements)*>
<!ATTLIST actions
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT app-icon (#PCDATA|application-bundle-identifier)*>

<!ELEMENT application-bundle-identifier (#PCDATA|%dialog_elements;)*>
<!ATTLIST application-bundle-identifier
          condition CDATA #IMPLIED>

<!ELEMENT attributed (#PCDATA|%dialog_elements;)*>
<!ATTLIST attributed
          condition CDATA #IMPLIED>

<!ELEMENT auto (#PCDATA|%dialog_elements;)*>
<!ATTLIST auto
          condition CDATA #IMPLIED>

<!ELEMENT background (#PCDATA|idioms|is-hidden-on-idioms|visual)*>
<!ATTLIST background
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT background-color (#PCDATA|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT backgrounds (#PCDATA|idioms|is-hidden-on-idioms|visual)*>
<!ATTLIST backgrounds
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT banner (#PCDATA|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT binary-button (#PCDATA|primary-button|secondary-button)*>

<!ELEMENT bundle (#PCDATA|bundle-id|name)*>
<!ATTLIST bundle
          condition CDATA #IMPLIED>

<!ELEMENT bundle-id (#PCDATA|%dialog_elements;)*>

<!ELEMENT bundle-loading-image (#PCDATA|bundle-id|name)*>
<!ATTLIST bundle-loading-image
          condition CDATA #IMPLIED>

<!ELEMENT bundle-name (#PCDATA|%dialog_elements;)*>

<!ELEMENT button (#PCDATA|action|form-action|label|thumbnail)*>

<!ELEMENT button-1 (#PCDATA|action|form-action|label|thumbnail)*>

<!ELEMENT button-2 (#PCDATA|action|form-action|label|thumbnail)*>

<!ELEMENT button-3 (#PCDATA|action|form-action|label|thumbnail)*>

<!ELEMENT button-container (#PCDATA|button-items)*>

<!ELEMENT button-items (#PCDATA|value)*>
<!ATTLIST button-items
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT canonical-id (#PCDATA|%dialog_elements;)*>
<!ATTLIST canonical-id
          condition CDATA #IMPLIED>

<!ELEMENT canvas (#PCDATA|bundle-name|view-data|view-id)*>

<!ELEMENT cell (#PCDATA|content|spacer)*>

<!ELEMENT cells (#PCDATA|alignment|column-span|content|line-limit|value)*>
<!ATTLIST cells
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT change-background (#PCDATA|background)*>
<!ATTLIST change-background
          condition CDATA #IMPLIED>

<!ELEMENT chart (#PCDATA|data)*>

<!ELEMENT chart-element (#PCDATA|chart|idioms)*>

<!ELEMENT color (#PCDATA|value)*>

<!ELEMENT color-element (#PCDATA|color|idioms)*>

<!ELEMENT column-span (#PCDATA|%dialog_elements;)*>

<!ELEMENT columns (#PCDATA|cell)*>
<!ATTLIST columns
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT command (#PCDATA|is-navigation|value)*>

<!ELEMENT component-list (#PCDATA|value)*>
<!ATTLIST component-list
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT components (#PCDATA|value)*>
<!ATTLIST components
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT content (#PCDATA|alignment|line-limit|size|value)*>

<!ELEMENT control (#PCDATA|custom-canvas|player-button)*>

<!ELEMENT control-slider (#PCDATA|action|slider|text-1)*>

<!ELEMENT control-switch (#PCDATA|action|switch|text-1|text-2|thumbnail)*>

<!ELEMENT custom-canvas (#PCDATA|bundle-name|view-data|view-id)*>

<!ELEMENT custom-element (#PCDATA|canvas|idioms)*>

<!ELEMENT data (#PCDATA|png-data)*>
<!ATTLIST data
          condition CDATA #IMPLIED>

<!ELEMENT data-loading-image (#PCDATA|png-data)*>
<!ATTLIST data-loading-image
          condition CDATA #IMPLIED>

<!ELEMENT direct-invocation (#PCDATA|%dialog_elements;)*>
<!ATTLIST direct-invocation
          condition CDATA #IMPLIED>

<!ELEMENT element (#PCDATA|chart-element|color-element|custom-element|image-element)*>

<!ELEMENT empty (#PCDATA|%dialog_elements;)*>
<!ATTLIST empty
          condition CDATA #IMPLIED>

<!ELEMENT fact-item-button (#PCDATA|action|button-1|button-2|button-3|text-1|text-2|text-3|text-4|thumbnail)*>

<!ELEMENT fact-item-hero-number (#PCDATA|action|number|text-1|text-2|text-3|text-4)*>

<!ELEMENT fact-item-short-number (#PCDATA|action|number|text-1|text-2|text-3|thumbnail|unit)*>

<!ELEMENT fact-item-standard (#PCDATA|action|text-1|text-2|text-3|text-4|text-5|thumbnail)*>

<!ELEMENT fallback (#PCDATA|value)*>

<!ELEMENT fixed (#PCDATA|percent)*>

<!ELEMENT focus-action (#PCDATA|actions)*>

<!ELEMENT font (#PCDATA|value)*>

<!ELEMENT group-id (#PCDATA)*>

<!ELEMENT groups (#PCDATA|components|id)*>

<!ELEMENT header (#PCDATA|cells)*>

<!ELEMENT hero-header (#PCDATA|banner|text-1|text-2|watch-list-button)*>

<!ELEMENT hex-value (#PCDATA|rgba)*>
<!ATTLIST hex-value
          condition CDATA #IMPLIED>

<!ELEMENT hide-redacted-elements (#PCDATA|%dialog_elements;)*>

<!ELEMENT horizontal-list-standard (#PCDATA|items|text-1)*>

<!ELEMENT id (#PCDATA)*>

<!ELEMENT identifier (#PCDATA|%dialog_elements;)*>

<!ELEMENT image-element (#PCDATA|idioms|sources)*>

<!ELEMENT initial-value (#PCDATA|value)*>

<!ELEMENT intentsui-standard (#PCDATA|interaction|slots)*>

<!ELEMENT interaction (#PCDATA|%dialog_elements;)*>

<!ELEMENT invocation-payload (#PCDATA|%dialog_elements;)*>
<!ATTLIST invocation-payload
          condition CDATA #IMPLIED>

<!ELEMENT is-bold (#PCDATA|value)*>

<!ELEMENT is-hidden-on-idioms (#PCDATA|%dialog_elements;)*>

<!ELEMENT is-italic (#PCDATA|value)*>

<!ELEMENT is-navigation (#PCDATA|%dialog_elements;)*>

<!ELEMENT items (#PCDATA|action|style|text-1|text-2|thumbnail)*>
<!ATTLIST items
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT label (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT label-text (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT leading-thumbnail (#PCDATA|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT line-limit (#PCDATA|value)*>

<!ELEMENT lines (#PCDATA|text-elements)*>
<!ATTLIST lines
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT loading-image (#PCDATA|bundle-loading-image|data-loading-image|symbol-loading-image)*>

<!ELEMENT long-item-text (#PCDATA|action|text-1)*>

<!ELEMENT map-property (#PCDATA|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT maximum (#PCDATA|%dialog_elements;)*>
<!ATTLIST maximum
          condition CDATA #IMPLIED>

<!ELEMENT minimum (#PCDATA|%dialog_elements;)*>
<!ATTLIST minimum
          condition CDATA #IMPLIED>

<!ELEMENT no-op (#PCDATA|%dialog_elements;)*>
<!ATTLIST no-op
          condition CDATA #IMPLIED>

<!ELEMENT number (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT number-1 (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT number-2 (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT off-action (#PCDATA|actions)*>

<!ELEMENT on-action (#PCDATA|actions)*>

<!ELEMENT ornaments (#PCDATA|idioms|is-hidden-on-idioms|visual)*>
<!ATTLIST ornaments
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT parameter-key-paths (#PCDATA|%dialog_elements;)*>
<!ATTLIST parameter-key-paths
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT pause-button (#PCDATA|action|form-action|label|thumbnail)*>

<!ELEMENT percent (#PCDATA|%dialog_elements;)*>
<!ATTLIST percent
          condition CDATA #IMPLIED>

<!ELEMENT placeholder-text (#PCDATA|%dialog_elements;)*>
<!ATTLIST placeholder-text
          condition CDATA #IMPLIED>

<!ELEMENT plain (#PCDATA|%dialog_elements;)*>
<!ATTLIST plain
          condition CDATA #IMPLIED>

<!ELEMENT play-button (#PCDATA|action|form-action|label|thumbnail)*>

<!ELEMENT player (#PCDATA|control|idioms)*>
<!ATTLIST player
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT player-button (#PCDATA|pause-button|play-button)*>

<!ELEMENT png-data (#PCDATA|%dialog_elements;)*>
<!ATTLIST png-data
          condition CDATA #IMPLIED>

<!ELEMENT primary-button (#PCDATA|action|form-action|label|thumbnail)*>

<!ELEMENT primary-header-marquee (#PCDATA|action|text-1|text-2)*>

<!ELEMENT primary-header-rich (#PCDATA|action|text-1|text-2|text-3|text-4|thumbnail)*>

<!ELEMENT primary-header-standard (#PCDATA|action|text-1|text-2|text-3)*>

<!ELEMENT redacted (#PCDATA|%dialog_elements;)*>

<!ELEMENT reference-button (#PCDATA|action|label)*>

<!ELEMENT reference-footnote (#PCDATA|action|text-1|text-2)*>

<!ELEMENT reference-logo (#PCDATA|action|thumbnail)*>

<!ELEMENT reference-rich (#PCDATA|action|text-1|text-2|thumbnail)*>

<!ELEMENT reference-standard (#PCDATA|action|text-1)*>

<!ELEMENT response-group (#PCDATA|group-id)*>

<!ELEMENT rgba (#PCDATA|%dialog_elements;)*>
<!ATTLIST rgba
          condition CDATA #IMPLIED>

<!ELEMENT rows (#PCDATA|action|backgrounds|cells)*>
<!ATTLIST rows
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT sash-standard (#PCDATA|action|background-color|thumbnail|title|title-color)*>

<!ELEMENT secondary-button (#PCDATA|action|form-action|label|thumbnail)*>

<!ELEMENT secondary-header-emphasized (#PCDATA|action|text-1)*>

<!ELEMENT secondary-header-standard (#PCDATA|action|text-1)*>

<!ELEMENT section-header-rich (#PCDATA|action|text-1|thumbnail)*>

<!ELEMENT section-header-standard (#PCDATA|action|text-1)*>

<!ELEMENT sections (#PCDATA|component-list|idioms|is-hidden-on-idioms|level-of-detail)*>
<!ATTLIST sections
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED
          id CDATA #IMPLIED>

<!ELEMENT selected-action (#PCDATA|actions)*>

<!ELEMENT separator-lines (#PCDATA|%dialog_elements;)*>

<!ELEMENT sf-command (#PCDATA|%dialog_elements;)*>
<!ATTLIST sf-command
          condition CDATA #IMPLIED>

<!ELEMENT simple-item-player (#PCDATA|action|player|text-1|text-2|text-3)*>

<!ELEMENT simple-item-reverse-rich (#PCDATA|action|text-1|text-2|text-3|thumbnail)*>

<!ELEMENT simple-item-rich (#PCDATA|action|text-1|text-2|text-3|text-4|text-5|thumbnail)*>

<!ELEMENT simple-item-standard (#PCDATA|action|text-1|text-2|text-3|text-4)*>

<!ELEMENT simple-item-visual (#PCDATA|action|text-1|thumbnails)*>

<!ELEMENT size (#PCDATA|auto|fixed)*>

<!ELEMENT slider (#PCDATA|identifier|initial-value|invocation-payload|leading-thumbnail|maximum|minimum|step|trailing-thumbnail)*>

<!ELEMENT slots (#PCDATA|fallback|parameter-key-paths)*>
<!ATTLIST slots
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT source (#PCDATA|%dialog_elements;)*>
<!ATTLIST source
          condition CDATA #IMPLIED>

<!ELEMENT sources (#PCDATA|value)*>
<!ATTLIST sources
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT spacer (#PCDATA|%dialog_elements;)*>
<!ATTLIST spacer
          condition CDATA #IMPLIED>

<!ELEMENT status-indicator-cancelled (#PCDATA|text)*>

<!ELEMENT status-indicator-error (#PCDATA|text)*>

<!ELEMENT status-indicator-in-progress (#PCDATA|text)*>

<!ELEMENT status-indicator-success (#PCDATA|text)*>

<!ELEMENT step (#PCDATA|value)*>

<!ELEMENT summary-item-button (#PCDATA|action|button-1|button-2|button-3|text-1|text-2|text-3|thumbnail)*>

<!ELEMENT summary-item-detailed-text (#PCDATA|action|text-1|text-2|text-3|text-4|text-5|thumbnail)*>

<!ELEMENT summary-item-large-text (#PCDATA|action|text-1|text-2|text-3)*>

<!ELEMENT summary-item-pair (#PCDATA|action|text-1|text-10|text-2|text-3|text-4|text-5|text-6|text-7|text-8|text-9|thumbnail-1|thumbnail-2)*>

<!ELEMENT summary-item-pair-number (#PCDATA|action|number-1|number-2|text-1|text-2|text-3|text-4|text-5|text-6|text-7|text-8|text-9|thumbnail-1|thumbnail-2)*>

<!ELEMENT summary-item-player (#PCDATA|action|player|text-1|text-2|text-3|text-4|thumbnail)*>

<!ELEMENT summary-item-short-number (#PCDATA|action|number|text-1|text-2|text-3|text-4|thumbnail)*>

<!ELEMENT summary-item-standard (#PCDATA|action|text-1|text-2|text-3|text-4|thumbnail)*>

<!ELEMENT summary-item-switch (#PCDATA|action|switch|text-1|text-2|text-3)*>

<!ELEMENT summary-item-text (#PCDATA|action|text-1|text-2|text-3)*>


<!ELEMENT symbol (#PCDATA|name|tint-color)*>
<!ATTLIST symbol
          condition CDATA #IMPLIED>

<!ELEMENT symbol-loading-image (#PCDATA|name|tint-color)*>
<!ATTLIST symbol-loading-image
          condition CDATA #IMPLIED>

<!ELEMENT system (#PCDATA|design|size|weight)*>

<!ELEMENT system-text-clarification-title (#PCDATA|action|text-1)*>

<!ELEMENT table (#PCDATA|columns|header|rows|separator-lines)*>


<!ELEMENT text-1 (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT text-10 (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT text-2 (#PCDATA|focus-action|lines|redacted|selected-action|text-elements)*>

<!ELEMENT text-3 (#PCDATA|focus-action|lines|redacted|selected-action|text-elements)*>

<!ELEMENT text-4 (#PCDATA|focus-action|lines|redacted|selected-action|text-elements)*>

<!ELEMENT text-5 (#PCDATA|focus-action|lines|redacted|selected-action|text-elements)*>

<!ELEMENT text-6 (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT text-7 (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT text-8 (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT text-9 (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT text-elements (#PCDATA|color|font|idioms|is-bold|is-italic|line-limit|value|weight)*>
<!ATTLIST text-elements
          condition CDATA #IMPLIED
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT text-input (#PCDATA|identifier|initial-value|invocation-payload|label-text|placeholder-text|validation-mode)*>

<!ELEMENT thumbnail (#PCDATA|focus-action|redacted|selected-action|visuals)*>
<!ATTLIST thumbnail
          condition CDATA #IMPLIED>

<!ELEMENT thumbnail-1 (#PCDATA|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT thumbnail-2 (#PCDATA|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT thumbnails (#PCDATA|focus-action|redacted|selected-action|visuals)*>
<!ATTLIST thumbnails
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT tint-color (#PCDATA|value)*>

<!ELEMENT title (#PCDATA|value)*>

<!ELEMENT title-color (#PCDATA|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT trailing-thumbnail (#PCDATA|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT unit (#PCDATA|focus-action|redacted|selected-action|text-elements)*>

<!ELEMENT url (#PCDATA|content-mode|loading-image|source)*>
<!ATTLIST url
          condition CDATA #IMPLIED>

<!ELEMENT utterance (#PCDATA|%dialog_elements;)*>
<!ATTLIST utterance
          condition CDATA #IMPLIED>

<!-- value values: BLACK, BOLD, HEAVY, LIGHT, MEDIUM, REGULAR, SEMIBOLD, THIN, ULTRALIGHT -->
<!ELEMENT value (#PCDATA|%dialog_elements;|ace-command|app-icon|application-bundle-identifier|attributed|binary-button|bundle|button|button-container|change-background|control-slider|control-switch|custom-canvas|data|direct-invocation|empty|fact-item-button|fact-item-hero-number|fact-item-short-number|fact-item-standard|group-id|hero-header|hex-value|horizontal-list-standard|intentsui-standard|long-item-text|name|named|no-op|plain|player-button|primary-header-marquee|primary-header-rich|primary-header-standard|reference-button|reference-footnote|reference-logo|reference-rich|reference-standard|response|response-group|sash-standard|secondary-header-emphasized|secondary-header-standard|section-header-rich|section-header-standard|sf-command|simple-item-player|simple-item-reverse-rich|simple-item-rich|simple-item-standard|simple-item-visual|status-indicator-cancelled|status-indicator-error|status-indicator-in-progress|status-indicator-success|summary-item-button|summary-item-detailed-text|summary-item-large-text|summary-item-pair|summary-item-pair-number|summary-item-player|summary-item-short-number|summary-item-standard|summary-item-switch|summary-item-text|symbol|system|system-text-clarification-title|table|text|text-input|url|utterance|visual|visualization-chart|visualization-image|visualization-map)*>
<!ATTLIST value
          condition CDATA #IMPLIED>

<!ELEMENT view-data (#PCDATA|%dialog_elements;)*>

<!ELEMENT view-id (#PCDATA|%dialog_elements;)*>

<!ELEMENT visual (#PCDATA|element|focus-action|redacted|selected-action|visuals)*>

<!ELEMENT visualization-chart (#PCDATA|action|text-1|text-2|visual)*>

<!ELEMENT visualization-image (#PCDATA|action|text-1|text-2|visual)*>

<!ELEMENT visualization-map (#PCDATA|action|map-property|text-1|text-2)*>

<!ELEMENT visuals (#PCDATA|element)*>
<!ATTLIST visuals
          list CDATA #IMPLIED
          iterator CDATA #IMPLIED>

<!ELEMENT watch-list-button (#PCDATA|canonical-id)*>

<!-- weight values: BLACK, BOLD, HEAVY, LIGHT, MEDIUM, REGULAR, SEMIBOLD, THIN, ULTRALIGHT -->
<!ELEMENT weight (#PCDATA|value)*>

<!-- elements representing fields which are SnippetUI protobuf enums -->
<!-- the values allowed for each enum are shown in comments for reference -->

<!-- alignment values: CENTER, DEFAULT, LEADING, TRAILING -->
<!ELEMENT alignment (#PCDATA|%dialog_elements;)*>
<!ATTLIST alignment
          condition CDATA #IMPLIED>

<!-- content-mode values: FILL, FIT -->
<!ELEMENT content-mode (#PCDATA|%dialog_elements;)*>
<!ATTLIST content-mode
          condition CDATA #IMPLIED>

<!-- design values: MONOSPACED, ROUNDED, SERIF -->
<!ELEMENT design (#PCDATA|%dialog_elements;)*>
<!ATTLIST design
          condition CDATA #IMPLIED>

<!-- form-action values: CANCEL, NONE, SUBMIT -->
<!ELEMENT form-action (#PCDATA|%dialog_elements;)*>
<!ATTLIST form-action
          condition CDATA #IMPLIED>

<!-- idioms values: CAR, DEFAULT, MAC, PAD, PHONE, POD, RESERVED_DEVICE, TV, WATCH -->
<!ELEMENT idioms (#PCDATA)*>

<!-- level-of-detail values: CAPTION, CONTENT, FULL, SUPPORTING -->
<!ELEMENT level-of-detail (#PCDATA|%dialog_elements;)*>

<!-- name values: BLACK, BLUE, BROWN, CLEAR, CYAN, DEFAULT, GRAY, GREEN, INDIGO, MINT, ORANGE, PINK, PRIMARY, PURPLE, RED, SECONDARY, TEAL, WHITE, YELLOW -->
<!ELEMENT name (#PCDATA|%dialog_elements;)*>
<!ATTLIST name
          condition CDATA #IMPLIED>

<!-- named values: BODY, CALLOUT, CAPTION, CAPTION2, FOOTNOTE, HEADLINE, LARGE_TITLE, SUBHEADLINE, TITLE, TITLE2, TITLE3 -->
<!ELEMENT named (#PCDATA|%dialog_elements;)*>
<!ATTLIST named
          condition CDATA #IMPLIED>

<!-- style values: INLINE_IMAGE, ROUNDED_IMAGE -->
<!ELEMENT style (#PCDATA|%dialog_elements;)*>
<!ATTLIST style
          condition CDATA #IMPLIED>

<!-- validation-mode values: NONE, NONEMPTY -->
<!ELEMENT validation-mode (#PCDATA|%dialog_elements;)*>
<!ATTLIST validation-mode
          condition CDATA #IMPLIED>

